// BUYERDA O'ZGARUVCHILAR
:root{
    --header-bg-color:#f7e3eb;
    --main-bg-color:#fff;
    --buynow-bg-color:#D23166;
    --hero-bg-color:#f7e3eb;
    --services-bg-color: #fffcfc;
    --brown-sugar-bg-color:#F8EDF0;
}
