.site-footer{
    padding: 70px 0 104px 0;
    background-color: var(--footer-bg-color);
}
.site-footer__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.site-footer__wrapper__start-list{
    width: 18%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__start-list{
    margin-bottom: 15px;
}
.site-footer__wrapper__start-item{
    display: flex;
    gap: 10px;
}
.site-footer__wrapper__start-link{
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.01em; 
    color: #FFFFFF;
    opacity: 0.7;
}
.site-footer__wrapper__start-link:hover{
    opacity: 1;
}
.site-footer__wrapper__start-link:active{
    opacity: 1;
}
.site-footer__wrapper__end-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.site-footer__wrapper__end-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.7;
}
.site-footer__wrapper__end-item{
    display: flex;
    gap: 16px;
}
.site-footer__wrapper__end-link:hover{
    opacity: 1;
}
.site-footer__wrapper__end-link:active{
    opacity: 1;
}
.site-footer__wrapper__end-form{
    position: relative;
}
.site-footer__wrapper__end-email{
    width: 388px;
    height: 55px;
    padding-left: 32px;
    border: 2px solid #D64374;
    border-radius: 5px;
    background-color: #000;
    font-size: 14px;
    line-height: 16px;  
    color: #FFFFFF;
}
.site-footer__wrapper__end-submit{
    position: absolute;
    right: 0;
    width: 125px;
    height: 55px;
    background-color: #D23166;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
@media screen and (max-width:882px) {
    .site-footer__wrapper__link__logo{
        display: block;
        margin: 0 auto;
    }
    .site-footer__wrapper{
        flex-direction: column;
        gap: 50px;
        text-align: center;
    }
    .site-footer__wrapper__start-list{
        width: 50%;
    }
    .site-footer__wrapper__start-item{
        margin: 0 auto;
    }
    .site-footer__wrapper__end-item{
        margin: 0 auto;
    }
}
@media screen and (max-width:427px){
    .site-footer__wrapper__end-email{
        width: 100%;
        margin-bottom: 20px;
    }
    .site-footer__wrapper__end-item:nth-child(2){
        flex-direction: column;
    }
    .site-footer__wrapper__end-submit{
        position: relative;
    }
}