.main {
    flex-grow: 1;
}
// SERVICES SECTION START
.services{
    padding: 100px 0;
    background-color:var(--services-bg-color);
}
.services__wrapper{
    width: 100%;
}
.services__wrapper__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services__wrapper__item{
    padding: 33px 26px 27px 26px;
    width: 250px;
    background-color: #fff;
    text-align: center;
    box-shadow: 20px 20px 50px #00000008;
    border-radius: 7px;
}
.services__wrapper__img{
    display: block;
    margin: 0 auto;
    margin-bottom: 24.65px;
}
.services__wrapper__title{
    margin: 0;
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}
.services__wrapper__desc{
    margin: 0;
    font-size: 14px;
    line-height: 19px;
    opacity: 0.6;
}
@media screen and (max-width:540px) {
    .services__wrapper__list{
        gap: 30px;
    }
    .services__wrapper__item{
        margin: 0 auto;
    }
}
// SERVICES SECTION END

// BROWN SUGAR SECTION START
.brown-sugar{
    background-color: var(--brown-sugar-bg-color);
}
.brown-sugar__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brown-sugar__wrapper__start-title{
    margin: 0;
    margin-bottom: 16px;
    width: 349px;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 49px;
    color: #150101;
}
.brown-sugar__wrapper__start-desc{
    margin: 0;
    margin-bottom: 35px;
    width: 445px;
    font-size: 16px;
    line-height: 24px;
    color: #150101;
    opacity: 0.6;
}
@media screen and (max-width:1120px) {
    .brown-sugar{
        padding-top: 100px;
    }
    .brown-sugar__wrapper{
        flex-direction: column;
        text-align: center;
    }
    .brown-sugar__wrapper__start-title{
        margin: 0 auto;
        margin-bottom: 30px;
    }
}
@media screen and (max-width:486px) {
    .brown-sugar__wrapper__start-title{
        width: 100%;
        font-size: 35px;
    }
    .brown-sugar__wrapper__start-desc{
        width: 100%;
    }
}
// BROWN SUGAR SECTION END
