.main {
    flex-grow: 1;
}
// SERVICES SECTION START
.services{
    padding: 100px 0;
    background-color:var(--services-bg-color);
}
.services__wrapper{
    width: 100%;
}
.services__wrapper__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services__wrapper__item{
    padding: 33px 26px 27px 26px;
    width: 250px;
    background-color: #fff;
    text-align: center;
    border-radius: 7px;
}
.services__wrapper__item:hover{
    box-shadow: 20px 20px 50px #00000008;
}
.services__wrapper__item:active{
    box-shadow: 20px 20px 50px #00000008;
}
.services__wrapper__img{
    display: block;
    margin: 0 auto;
    margin-bottom: 24.65px;
}
.services__wrapper__title{
    margin: 0;
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}
.services__wrapper__desc{
    margin: 0;
    font-size: 14px;
    line-height: 19px;
    opacity: 0.6;
}
@media screen and (max-width:540px) {
    .services__wrapper__list{
        gap: 30px;
    }
    .services__wrapper__item{
        margin: 0 auto;
    }
}
// SERVICES SECTION END

// BROWN SUGAR SECTION START
.brown-sugar{
    background-color: var(--brown-sugar-bg-color);
}
.brown-sugar__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brown-sugar__wrapper__start-title{
    margin: 0;
    margin-bottom: 16px;
    width: 349px;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 49px;
    color: #150101;
}
.brown-sugar__wrapper__start-desc{
    margin: 0;
    margin-bottom: 35px;
    width: 445px;
    font-size: 16px;
    line-height: 24px;
    color: #150101;
    opacity: 0.6;
}
@media screen and (max-width:1120px) {
    .brown-sugar{
        padding-top: 100px;
    }
    .brown-sugar__wrapper{
        flex-direction: column;
        text-align: center;
    }
    .brown-sugar__wrapper__start-title{
        margin: 0 auto;
        margin-bottom: 30px;
    }
}
@media screen and (max-width:486px) {
    .brown-sugar__wrapper__start-title{
        width: 100%;
        font-size: 35px;
    }
    .brown-sugar__wrapper__start-desc{
        width: 100%;
    }
}
// BROWN SUGAR SECTION END

// OUR PRODUCT SECTION START
.our-product{
    padding: 137px 0 0 0;
    background-color: var(--services-bg-color);
}
.our-product__title{
    margin: 0;
    margin-bottom: 64px;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 61px;
    color: #150101;
    text-align: center;
}
.our-product__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.our-product__link{
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    opacity: 0.6;
}
.our-product__link:hover{
    opacity: 1;
    border-bottom: 3px solid #D64374;
}
.our-product__wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 50px ;
}
// .our-product__wrapper-img{
//     width: 580px;
//     height: 415px;
// }
.our-product__wrapper__inner{
    width: 454px;
    padding-top: 60px;  
}
.our-product__wrapper__inner-title{
    margin: 0;
    margin-bottom: 11px;
    font-weight: 800;
    font-size: 26px;
    line-height: 36px;
}
.our-product__wrapper__inner-desc{
    margin: 0;
    margin-bottom: 28px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.7;
}
.our-product__wrapper__inner-numbers{
    display: flex;
    align-items: flex-end;
    align-items: center;
    margin-bottom: 25px;
}
.our-product__wrapper__inner-number{
    margin: 0;
    margin-right:5px ;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
}
.our-product__wrapper__inner__del-number{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    opacity: 0.7;
}
.for-cayenne__inner{
    text-align: end;
}
.for-cayenne__inner-number{
  margin-left: auto;
}
.our-product__wrapper__inner__people{
    display: flex;
    align-items: center;
    margin-bottom: 46px;
}
.our-product__wrapper__inner__people-img{
    display: block;
    margin-right: 21px;
}
.our-product__wrapper__inner__people-name{
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}
.our-product__wrapper__inner__people-millati{
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    opacity: 0.7;
}
.our-product__wrapper__inner__text{
    position: relative;
    margin-bottom: 39px;
}
.our-product__wrapper__inner__text::after{
    content:url(./../../images/icons/right-q.svg); 
    position: absolute;
    bottom: -2px;
    left: 224px;
}
.our-product__wrapper__inner__text::before{
    content:url(./../../images/icons/left-q.svg); 
    position: absolute;
    left: -20px;
}
.our-product__wrapper__inner__imgs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
}
.start{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
@media screen and (max-width:1080px) {
    .our-product__wrapper{
        flex-direction: column;
        text-align: center;
    }
    .our-product__wrapper__inner{
        order:1;
        margin: 0 auto;
    }
    .our-product__wrapper-img{
        display: block;
        margin: 0 auto;
    }
    .for-cayenne__inner{
        text-align: center;
    }
    .our-product__wrapper__inner-numbers{
        justify-content: center;
    }
    .our-product__wrapper__inner-number{
        margin: 0 auto;
    }
    .our-product__wrapper__inner__del-number{
        margin: 0 auto;
    }
    .our-product__wrapper__inner__people{
        justify-content: center;
    }
    .our-product__wrapper__inner__text::after{
        left: 300px;
    }
    .our-product__wrapper__inner__text::before{
        left: 20px;
    }
    .our-product__wrapper__inner__imgs{
        margin: 0 auto;
    }
}
@media screen and (max-width:1000px){
    .our-product__list{
        flex-direction: column;
        gap: 15px;
    }
}
@media screen and (max-width:550px) {
    .our-product__wrapper__inner{
        width: 100%;
    }
    .our-product__wrapper__inner__text::after{
        display: none;
    }
    .our-product__wrapper__inner__text::before{
        display: none;
    }
}
// OUR PRODUCT SECTION END

// SIMPLE WAY SECTION START
.simple-way{
    padding: 90px 0 144px 0;
    background-color: var(--simple-way-bg-color);
}
.simple-way__wrapper{
    position: relative;
    width: 680px;
    margin-left: auto;
}
.simple-way__wrapper-title{
    margin: 0;
    margin-bottom:20px ;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 52px;
}
.simple-way__wrapper-desc{
    width: 607px;
    margin: 0;
    margin-bottom: 29px;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #0F0101;
    opacity: 0.7;
}
.simple-way__wrapper-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;
}
.simple-way__wrapper__item{
    display: flex;
    align-items: center;
}
.simple-way__wrapper-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 3px;
    background-color: var(--main-bg-color);
}
.simple-way__wrapper__item-desc{
    margin: 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}
.simple-way__wrapper__bottom{
    display: flex;
}
.simple-way__wrapper-img{
    position: absolute;
    top: -40px;
    left: -443px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
@media screen and (max-width:1130px) {
    .simple-way__wrapper-img{
        display: none;
    } 
    .simple-way__wrapper{
        margin: 0 auto;
    }
}
@media screen and (max-width:700px){
    .simple-way__wrapper{
        width: 100%;
        text-align: center;
    }
    .simple-way__wrapper-desc{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .simple-way__wrapper-list{
        text-align: center;
    }
    .simple-way__wrapper__bottom{
        text-align: center  ;
    }
}
// SIMPLE WAY SECTION END

// QUESTION SECTION START
.question{
    padding: 150px 0 71px 0;
}
.question__wrapper{
    width: 637px;
    margin: 0 auto;
}
.question__wrapper-title{
    width: 522px;
    margin: 0 auto;
    margin-bottom: 36px;
    font-weight: 600;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
}
.question__wrapper__form-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px;
}
.question__wrapper__form-input{
    width: 303px;
    height: 74px;
    padding-left: 25px;
    font-size: 14px;
    line-height: 16px;
    color: #0F0000;
    opacity: 0.6;
    border: 1px solid rgb(247, 102, 102);
    border-radius: 5px;
}
.question__wrapper__btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 303px;
    height: 74px;
    padding-left: 25px;
    padding-right: 33px;
    background-color: #fff;
    font-size: 14px;
    line-height: 16px;
    color: #0F0000;
    opacity: 0.6;
    border: 1px solid rgb(247, 102, 102);
    border-radius: 5px;
}
.question__wrapper__form-questions{
    position: relative;
}
.question__wrapper__form-question{
    width: 100%;
    height: 74px;
    padding-left: 25px;
    font-size: 14px;
    line-height: 16px;
    color: #0F0000;
    opacity: 0.6;
    border: 1px solid rgb(247, 102, 102);
    border-radius: 5px;
}
.question__wrapper__form-submit{
    position: absolute;
    right: 0;
    width: 134px;
    height: 74px;
    background: #D64374;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
@media screen and (max-width:667px) {
    .question__wrapper{
        width: 100%;
    }
    .question__wrapper-title{
        width: 100%;
        font-size: 35px;
    }
    .question__wrapper__form-top{
        flex-direction: column;
        gap: 30px;
    }
    .question__wrapper__form-question{
        width: 90%;
    }
    .question__wrapper__form{
        text-align: center;
    }

}
// QUESTION SECTION END
